#container{
  display: flex;
  flex-direction: column;
  align-items: center;

}

#searchbar{
  padding: 30px 0px;
  
}

#searchbar input{
  width: 400px;
  height: 30px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border: 2px solid #1B98F5;
  outline: none;
}

#search-button{
  font-size: 19px;
  padding: 7px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #1B98F5;
  border: none;
  color: #fff;
  margin-right: 20px;
  cursor: pointer;

}

form{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#todos{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 30px;
}

.todo-header{
  font-size: 20px;
  background-color: #1B98F5;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  padding: 0px 30px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
}

.task{
  font-size: 15px;
  background-color: #87b8dc;
  color: #fff;
  display: flex;
  flex-direction: row;
  width: 500px;
  justify-content: space-between;
  padding: 0px 30px;
  border-radius: 20px; 
  margin-top: 5px; 
  cursor: pointer;
}

.task p:first-child{
  width: 100%;

}

.task .check-button{
  cursor: pointer;
}

#navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid black; */
  width: 100%;
  /* padding-right: 100px; */
  background-color: #87b8dc;
}

#create-todo-button{
  margin-left: 20px;
  background-color: #000;
  color: #fff;
  font-size: 15px;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.edit-input-field{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #1B98F5;
  width: 500px;
  padding: 25px 0px;
  border-radius: 20px;
  cursor: pointer;
}

.edit-input-field input{
  border: none;
  outline: none;
  font-size: 20px;
  color: #fff;
  font-size: 20px;
  background-color: #1B98F5;  
  margin-right: auto;
}

.confirm-edit, .cancel-edit{
  background-color: rgb(32, 206, 32);
  border: none;
  padding: 5px 5px;
  color: #fff;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

.cancel-edit{
  background-color: rgb(197, 14, 14);

}

.edit-task{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0px;
  width: 100%;
}

.edit-task input{
  font-size: 20px;
  border: none;
  background:none;
  outline: none;
  color: #fff;
  margin-right: auto;
}

.add-a-task{
  border: 2px solid #87b8dc; 
  margin-top: 5px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
}

.create-todo-task-input{
  border:none;
  background: none;
  margin-right: auto;
  width: 70%;
  outline: none;
}

.add-a-task button{
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
}

.cancel-add-task{
  background-color: rgb(239, 20, 20);
}

.confirm-add-task{
  background-color: #87b8dc;
  margin-left: auto;
  width: 80px;
}

.add-a-task-button{
  background-color: #1B98F5;
  color: #fff;
  border: none;
  cursor: pointer;
padding: 10px 15px;
margin-top: 5px;
border-radius: 10px;
font-size: 15px;
  
}
.sort-btn-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.sort-btn-container button{
  border: none;
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 5px;
  color: #fff;
  background-color: #87b8dc;
  cursor:   pointer;
}